* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100hv;
    background-color: #171717;
}

.landing-container {
    width: 100%;
    height: 100vh;
    background-color: #171717;
    position: relative;
}
.menu-icon {
    width: 40px;
    position: fixed;
    top: 35px;
    right: 55px;
    z-index: 100;
}
.menu-img {
    width: 100%;
    cursor: pointer;
}
.menu-open { display: none;}
.menu-close {display: none;}
.menuCloseDisplay {
    display: block;
    width: 100%;
    cursor: pointer;
}
.nav-bar {
    width: 0%;
    height: 100vh;
    background-color: #fff;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0%;
    overflow: hidden;
    transition: all .8s;
}
.toggleNavbar {width: 30%;}
.nav-bar ul {
    list-style: none;
}
.nav-bar ul li {
    margin: 25px;
}
.nav-bar ul li a {
    text-decoration: none;
    color: #171717;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
}
.nav-bar ul li a::before,
.nav-bar ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #171717;
    position: absolute;
    transition: all .5s;
}
.nav-bar ul li a::before {
    top: 0;
    left: 0;
    transform-origin: left;
}
.nav-bar ul li a::after {
    bottom: 0;
    right: 0;
    transform-origin: right;
}
.nav-bar ul li a:hover::before {width: 100%;}
.nav-bar ul li a:hover::after {width: 100%;}
.nav-bar ul li a:hover {
    text-transform: capitalize;
}
.landing-bg-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
}
.path1, .path2 {display: none;}
.landing-paragraph {
    font-size: 40px;
    letter-spacing: 6px;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 20%;
}
.landing-name {
    font-size: 80px;
    color: #fff;
}
.cta-wrapper {
    position: absolute;
    top: 50%;
    left: 20%;
    display: flex;
}
.cta-btn {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: #C72651;
    border-radius: 5px;
    text-align: center;
    padding: 12px 60px;
    transition: all .5s;
    border: 2px solid #C72651;
    margin-right: 5px;
    -webkit-animation: rattle 1.2s;
            animation: rattle 1.2s;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
    
}
.cta-btn2 {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: #C72651;
    border-radius: 5px;
    text-align: center;
    padding: 12px 60px;
    transition: all .5s;
    background-color: transparent;
    border: 2px solid #C72651;
    -webkit-animation: rattle 1.2s;
            animation: rattle 1.2s;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
}
.cta-btn2:hover,
.cta-btn:hover {
    transform: translateY(-8px);
}
@-webkit-keyframes rattle {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes rattle {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@media screen and (max-width: 500px){
    .landing-paragraph {top: 30%; font-size: 20px;}
    .landing-name {font-size: 45px;}
    .landing-bg-img {display: none;}
    .path1 {
        display: block;
        position: absolute;
        height: 70%;
        bottom: 0;
        right: 0;
    }
    .path2 {
        display: block;
        position: absolute;
        width: 60%;
        top: 0;
        left: 0;
    }
    .landing-paragraph {
        left: 10%;
    }
    .toggleNavbar {width: 50%;}
    .cta-wrapper {
        left: 10%;
    }
    .cta-btn,
    .cta-btn2 { 
        padding: 12px 40px;
        font-size: 15px;
    }
}
/* ------------- */
/* ABOUT SECTION */
/* ------------- */
.cover-container {
    width: 100%;
    height: auto;
    background: #171717;
    padding: 50px;
    display: flex;
}
.designer-container {
    width: 50%;
    /* height: 100%; */
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}
.designer-heading{
    color: #fff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 40px;
    font-weight: 300;
}
.designer-img-container {
    width: 90%;
    height: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.developer-container {
    width: 50%;
    /* height: 100%; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}
.developer-heading {
    color: #222;
    font-size: 40px;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 40px;
    font-weight: 300;
}
.developer-img-container {
    width: 90%;
    height: 300px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.designer-img,
.developer-img {
    width: 85%;
    height: 80%;
    transition: all .5s;
}
.addAnimate { -webkit-animation: shake 1s ease-in-out; animation: shake 1s ease-in-out; }
.designer-img:hover,
.developer-img:hover {
    transform: scale(1.1);
}
@-webkit-keyframes shake {
    0% {transform: translateX(-1000px);opacity: 0;}
    80% { transform: translateX(100px);opacity: .8;}
    100% {transform: translateX(-0); opacity: 1;}
}
@keyframes shake {
    0% {transform: translateX(-1000px);opacity: 0;}
    80% { transform: translateX(100px);opacity: .8;}
    100% {transform: translateX(-0); opacity: 1;}
}
 @media screen and (max-width: 820px) {
    .cover-container {
        flex-direction: column;
    }
    .designer-container {
        width: 100%;
        padding: 30px;
    }
    .developer-container {
        width: 100%;
        padding: 30px;
    }
 }
 @media screen and (max-width: 570px) {
     .designer-heading, .developer-heading {
         font-size: 25px;
     }
 }

 /* ABOUT DESCRIPTION SECTION */
 .description-section {
     width: 100%;
     height: auto;
     padding: 50px;
     background-color: #fff;
 }
 .about-description {
     width: 100%;
 }
 .icons-description {
     width: 100%;
    
 }
 h2 {
     font-size: 40px;
     color: #171717;
     font-weight: 500;
 }
 .about-header {
     margin-bottom: 80px;
     text-align: center ;
     position: relative;
 }
 .about-header::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 8px;
    background-color: #C72651;
    border-radius: 20px;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}
.about-paragraph {
    font-size: 21px;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: left;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 80px;
}
.icons-description {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
#logoImg {
    width: 80px;
    margin: 20px 15px;
    transition: all .5s;
}
#logoImg:hover {
    transform: translateY(-8px) scale(1.1);
    box-shadow: 0 5px 0 #C72651;
    padding-bottom: 5px;
}
.about-link-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.about-link-wrapper a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: #C72651;
    border-radius: 5px;
    text-align: center;
    padding: 12px 60px;
    transition: all .5s;
}
.about-link-wrapper a:hover {
    transform: translateY(-8px);
}
@media screen and (max-width: 1100px) {
    .about-paragraph {width: 100%;}
    .icons-description img{width: 60px;}
}

/* PORTFOLIO SECTION */
.portfolio-section {
    width: 100%;
     height: auto;
     background-color: #fff;
     display: flex;
     flex-wrap: wrap;
     padding: 50px;
     flex-direction: column;
}

.portfolio-heading-section,
.portfolio-img-wrapper {
    width: 100%;
    max-width: 1300px;
    height: auto;
    overflow: hidden;
    background-color: #000;
    margin: auto;
}
.portfolio-heading-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.portfolio-header {
    margin-bottom: 80px;
    position: relative;}
.portfolio-header::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 8px;
    background-color: #5291C6;
    border-radius: 20px;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}
.portfolio-img-wrapper img {
    width: 100%;
    transform: scale(1.15);
    transition: all .5s;
    opacity: .8;
}
.portfolio-img-wrapper img:hover {
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
}

/* CONTACT SECTION */
#contactSection {
    width: 100%;
    height: auto;
    background-color: #fff;
}
.contact-header {
    margin-bottom: 80px;
    position: relative;
    text-align: center;
}
.contact-header::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 8px;
    background-color: #171717;
    border-radius: 20px;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}
.contact-container {
    width: 100%;
    height: auto;
    padding: 0 20px 40px 20px;
    display: flex;
    max-width: 1600px;
    margin: auto;
}
.form-container {
    width: 50%;
    background-color: #171717;
    padding: 30px 20px;
}
.form-container form {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto;
}
.form-container form label {
    font-size: 22px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
}
.form-container form input {
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    color: #171717;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    background-color: #fff;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
}
.form-container form textarea {
    width: 100%;
    height: 200px;
    max-height: 200px;
    max-width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}
.form-btn {
    display: block;
    background: #fff;
    border: 2px solid #373737;
    margin: 20px auto 0 auto;
    cursor: pointer;
    font-size: 16px;
    font-weight: 200;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}
.contact-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid #373737;
    padding: 50px 20px;
}
.contact-paragraph {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 80px;
    max-width: 500px;
}
.contact-social-heading {
    font-size: 24px;
    letter-spacing: 1px;
}
.contact-social-paragraph {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 60px;
}
.contact-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-icons img {
    width: 30px;
    margin: 0 14px;
    transition: all .5s;
}
.contact-icons img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 805px) {
    .contact-container {
        flex-direction: column-reverse;
    }
    .form-container {
        width: 100%;
    }
    .contact-info-container {
        width: 100%;
    }
}